.footer {
  position: relative;
  height: 630px;
  position: relative;
  &__info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    height: 270px;
    background: $main-color;
    padding: 50px 53px 56px 53px;
  }
  &__addr {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }
  &__phone {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin-top: 36px;
  }
  &__social {
    display: flex;
    justify-content: center;
  }
  &__round {
    width: 53px;
    height: 52px;
    border: 2px solid #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px 15px 0 15px;
    &:hover {
        background-color: #0D0D0D;
    }
  }
}
